.chart-container{
    position: relative;
    margin: auto;
    height: 10vh;
    width: 10vw;
}

.chart-container:hover {
    position: relative;
    margin: auto;
    
    height: 20vh;
    width: 20vw;
}

canvas {
    border: 1px solid red;
}