.content{
    color : #1c1c1c;
    display: flex;
    align-items: center;
}
.name {
    font-size: 70px;
    z-index: 20;
    animation: cc 2s ease-in-out infinite ;
}

.name:hover h1 {
    transform: translateX(-300px);
    transition: all 1s ease-in-out;
}

.name:hover {
    animation-play-state: paused;
}
.name h1 {
    transition: all 1s ease-in-out;
}

.hoverContent {
    position: absolute;
    transform: translate(350px,-150px);
    gap: 10px ;
    z-index: -20;
}

.name .hoverContent{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

@keyframes cc {
    0% {
        transform: translate3D(0px,0px,0px);
    }
    50% {
        transform: translate3D(-10px,-10px,-10px);
    }
    100% {
        transform: translate3D(0,0,0);
    }
    
}

@keyframes opacit {
    0% {
        scale: 100%;
    }
    50% {
        scale: 50%
    }
    100% {
        scale: 0%
    }
}